<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AirspaceFixer" version="1.0.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net462" />
  <package id="Google.Apis" version="1.20.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.20.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.20.0" targetFramework="net462" />
  <package id="Google.Apis.Drive.v3" version="1.20.0.749" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="JustMVVM" version="1.0.1" targetFramework="net452" />
  <package id="log4net" version="2.0.7" targetFramework="net462" />
  <package id="Markdig" version="0.10.4" targetFramework="net452" />
  <package id="MSBuild.Extension.Pack" version="1.9.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.2-beta2" targetFramework="net462" />
  <package id="NReco.PdfGenerator" version="1.1.12.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net462" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>