<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net452" />
  <package id="CommonMark.NET" version="0.12.0" targetFramework="net452" />
  <package id="gong-wpf-dragdrop" version="1.0.0-ALPHA013" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net452" />
  <package id="JustMVVM" version="1.0.0" targetFramework="net452" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net452" />
  <package id="NReco.PdfGenerator" version="1.1.12.0" targetFramework="net452" />
</packages>